# Java (plugin)
*.class
*.jar
*.log
*.tmp
*.bak
*.swp
target/
bin/

# Eclipse
.metadata/
.project
.classpath
.settings/

# Node.js (backend)
node_modules/
.env

# React (frontend)
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS & general
.DS_Store
hs_err_pid*
replay_pid*

# Archives
*.zip
*.tar.gz
*.rar
*.war
*.nar
*.ear
